<template>
  <div>
    <v-layout>
      <v-app-bar title="のうざわ家のおさいふ" flat density="compact">
        <template v-slot:prepend>
          <v-app-bar-nav-icon class="ma-0" @click.stop="rail = !rail"></v-app-bar-nav-icon>
        </template>
      </v-app-bar>

        <v-navigation-drawer
          v-model="drawer"
          :rail="rail"
          width="180"
        >
          <v-list density="compact" nav>
            <v-list-item prepend-icon="mdi-history" title="履歴" value="history" to="/histories"></v-list-item>
            <v-list-item prepend-icon="mdi-bank" title="資産" value="asset"></v-list-item>
            <v-list-item prepend-icon="mdi-poll" title="分析" value="analyse"></v-list-item>
            <v-list-item prepend-icon="mdi-pig-variant-outline" title="貯金" value="money"></v-list-item>
            <v-list-item prepend-icon="mdi-cog-outline" title="設定" value="setting"></v-list-item>
          </v-list>

          <v-divider></v-divider>

          <v-list density="compact" nav>
            <v-list-item prepend-icon="mdi-logout-variant" title="ログアウト" value="logout" to="/"></v-list-item>
          </v-list>
        </v-navigation-drawer>

        <v-main style="min-height: 300px;">
          <slot />
        </v-main>
    </v-layout>
  </div>
</template>

<script setup>
const drawer = true;
const rail = ref(true);
</script>
