<template>
  <div>
    <NuxtLayout name="default">
      <div class="pa-2">
        履歴
      </div>
    <div>
      <p>年月：{{monthlyBalance.month}}　収入(月次合計)：{{monthlyBalance.monthlyIncomeAmount}}　支出(月次合計)：{{monthlyBalance.monthlyExpenseAmount}}</p>
      <dl v-for="d in monthlyBalance.dailybalance">
        <dt>日付：{{d.day}}　収入(日次合計)：{{d.dailyIncomeAmount}}　支出(日次合計)：{{d.dailyExpenseAmount}}</dt>
        <dl v-for="a in d.accountBooks">
          <dt>
            <label v-if="a.transactionType === 1">
              収入
            </label>
            <label v-else-if="a.transactionType === 2">
              支出
            </label>
            <label v-else>
              振替
            </label>
            　{{a.transactionItemName}} {{a.assetName}} 金額：{{a.amount}}
          </dt>
        </dl>
      </dl>
    </div>
    </NuxtLayout>
  </div>
</template>

<script setup>
const user = useState('login-user')
const param = { "userId": user.value.id, "years": "202112" };
const { data, error } = await useFetch('/api/v1/monthlyBalance', {
  method: 'post',
  body: param,
});
const monthlyBalance = shallowRef(data.value.monthlybalance)
</script>
