<template>
  <div>
    <div class="pa-2">
      ログイン画面
    </div>
    <div class="pa-2">
      <label>ID(メールアドレス)：
        <input v-model="user.email" type="text">
      </label>
      <label>パスワード：
        <input v-model="user.password" type="text">
      </label>
    </div>
    <div>
      <v-btn @click="login" color="primary">ログイン</v-btn>
      <v-btn to="/users" color="primary">新規登録</v-btn>
    </div>
  </div>
</template>

<script setup lang="ts">
const user = useState<{ name: string, userGroupId: int, email: string, password: string, birthday: string }>('login-user', () => {
  return {
    name: '',
    userGroupId: 0,
    email: '',
    password: '',
    birthday: ''
  };
})
const login = async () => {
  const user = useState('login-user')
  const param = { "user": { "email": user.value.email, "password": user.value.password } };
  const { data, error } = await useFetch('/api/v1/login', {
    method: 'post',
    body: param,
  });
  if (!data.value || error.value) {
    window.alert('IDまたはパスワードが間違っています。')
  } else if (data.value) {
    user.value = data.value.user
    const router = useRouter();
    router.push({path:"/histories"})
  }
}
</script>
