<template>
  <div>
    <NuxtLayout name="default">
      <div class="pa-2">
        ユーザー登録
      </div>
      <div class="pa-2">
        <label>名前：
          <input v-model="name" type="text">
        </label>
        <label>メールアドレス：
          <input v-model="mail" type="text">
        </label>
        <label>パスワード：
          <input v-model="pass" type="text">
        </label>
        <label>誕生日：
          <input v-model="day" type="date">
        </label>
        <v-btn @click="createUser" color="primary">登録</v-btn>
      </div>
    </NuxtLayout>
  </div>
</template>

<script setup>
let name=ref('')
let mail=ref('')
let pass=ref('')
let day=ref('')
const createUser = async () => {
  const param = { "user": [{ "name": name.value, "userGroupId": 1, "email": mail.value, "password": pass.value, "birthday": day.value }] };
  const { data:res, error } = await useFetch('/api/v1/users', {
    method: 'post',
    body: param,
  });
  if (!res.value || error.value) {
    window.alert('ご使用のメールアドレスは既に登録されています。')
  } else if (res.value) {
    const router = useRouter();
    router.push({path:"/histories"})
  }
}
</script>
